@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    background-color: var(--m-primary-color);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  ;
}

:root {
  /* 1677ff */
  --m-primary-color: #1677ff;
  --m-bg-color: #fff;
  --m-main-color: #f5f5f5;
  --m-text-color: #262626;

  /* UI var */
  --ui-primary-color: skyblue;
  --ui-primary-color-hover: #1677ff;
  --ui-bg-color: #fff;
  --ui-main-color: #f5f5f5;
  --ui-text-color: #262626;

  /* 
    Tiptap Vars
  */
  --tiptap-primary-color: #1677ff;
  --tiptap-primary-color-hover: #1677ff;
  --tiptap-bg-color: #fff;
  --tiptap-main-color: #f5f5f5;
  --tiptap-text-color: #262626;
}